<div class="checkin-wrapper">
    <div class="para">
        <p>Last chekin was 23 sep 2019</p>
    </div>
    <div class="check_in">
        <button type="button" class="btn btn-outline-primary">Check In</button>
    </div>
    <div class="submitchanges">
        <button type="button" class="btn btn-primary">Submit Changes</button>
    </div>
    <div class="icons">
        <div class="icon1">
            <i class="fa fa-bullseye" aria-hidden="true"></i>
        </div>
        <div class="icon1">
            <i class="fa fa-bullseye" aria-hidden="true"></i>
        </div>
        <div class="icon1">
            <i class="fa fa-bullseye" aria-hidden="true"></i>
        </div>
        <div class="icon1">
            <i class="fa fa-bullseye" aria-hidden="true"></i>
        </div>
    </div>
</div>