.checkin-wrapper{
    display: flex;
    margin-top: 10px;
}
.para{
  opacity: 0.6;
  font-family: Roboto;
  font-size: 11px;
  color: #222222;
  padding-top: 10px;
  margin-right: 10px;
}
.button{
  width: 108px;
  height: 28px;
  border-radius: 2px;
  border: solid 1px #1676e2;
}
.check_in{
    margin-right: 10px;
}
.submitchanges{
    margin-right: 10px;
}
.icons{
    display: flex;
}
.icon1{
    margin-right: 10px;  
}