.goal-list-wrapper{
    border: 1px solid grey;
    padding: 10px;
    /* display: flex; */
    margin-bottom: 10px;
}
.list-wrapper{
    display: flex;
}
.prcnt{
    display: flex;
}
.achievement{
    margin-left: 82px;
}
.key-result{
    margin-left: 82px;
}
.track-status{
    display: flex;
}
.track{
    margin-right: 5px;
}
.weightage{
    margin-left: 80px;
}
.img-wrapper{
    margin-left: 80px; 
}

img{
    height: 44px;
}
.down-arrow{
    margin-left: 80px; 
}

