<div class="goal-list-wrapper">
    <div class="list-wrapper">
        <div class="main-wrapper">
            <div class="task">
                <p>{{goalDetails.goalTitle}}</p>
            </div>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <p>26-Apr-2019 - 30-may-2019</p>
            <!-- <input type="date" name="bday">
              <input type="submit"> -->
        </div>

        <div class="achievement">
            <div class="achie">
                <p>Achievement</p>
            </div>
            <div class="prcnt">
                <div class="prc">
                    <h4>70%</h4>
                </div>
                <div class="text">
                    <p>Pending</p>
                </div>
            </div>

        </div>

        <div class="key-result">
            <div class="Result">
                <p>Key Result(4)</p>
            </div>
            <div class="track-status">
                <div class="track">
                    <p>02 On track</p>
                </div>
                <div class="status">
                    <p>| Pending</p>
                </div>
            </div>

        </div>

        <div class="weightage">
            <p>Weightage</p>
            <p>50%</p>
        </div>

        <div class="img-wrapper">
            <img src="https://cdn.arstechnica.net/wp-content/uploads/2016/02/5718897981_10faa45ac3_b-640x624.jpg">
            <p>Emmalyn +6 more</p>
        </div>
        <div class="down-arrow" (click)="keyResultKey(goalDetails)" *ngIf="!goalDetails.isCollapse">
            <i style="font-size:24px" class="fa">&#xf107;</i>
        </div>
        <div class="up-arrow" (click)="keyResultKey(goalDetails)" *ngIf="goalDetails.isCollapse">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </div>
    </div>

    <div>
        <ng-content>

        </ng-content>
    </div>

</div>