<div class="goal-view-wrapper">
    <div class="main-wrapper">
        <div class="result">
            <p>Vewing : Goals</p>
        </div>
        <div class="toggle">
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
        <div class="goals-key">
            <p>Goals and key result</p>
        </div>
    </div>
</div>