<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <app-my-goal-plan 
            [goalData]="goalData"
            (Yearlydata)='getYearlyData($event)'></app-my-goal-plan>
        </div>
        <div class="col-6">
            <app-check-in></app-check-in>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-total-goals [goalYearWiseData]="goalYearWiseData"></app-total-goals>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-goal-view></app-goal-view>
        </div>
    </div>

    <div class="row">
        <div class="col-12" *ngFor="let data of goalYearWiseData.goal_details">
            <app-goal-list 
            [goalDetails]="data"
            (clickData)="clickArrow($event)">
               <ng-container *ngIf="data.isCollapse">
                    <div class="col-12" *ngFor="let item of data.goal_key_result">
                            <app-key-result 
                            [goalKeyResult]="item"></app-key-result>
                        </div>
               </ng-container>
            </app-goal-list>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-12" *ngFor="let data of goalYearWiseData.goal_details">
            <app-key-result [goalYearWiseData]="data"></app-key-result>
        </div>
    </div> -->
</div>

