<div class="goal-wrapper">

    <div class="total-goals">
        <div class="icon">
            <i class="fa fa-bullseye" aria-hidden="true"></i>
        </div>
        <div class="details">
            <h5>{{goalYearWiseData.total}}</h5>
            <p>Total Goals</p>
        </div>

    </div>

    <div class="total-goals">
        <div class="icon">
            <i class="fa fa-bullseye" aria-hidden="true"></i>
        </div>
        <div class="details">
            <h5>{{goalYearWiseData.pending_approvals}}</h5>
            <p>Pending Approval</p>
        </div>

    </div>

    <div class="total-goals">
        <div class="icon">
            <i class="fa fa-bullseye" aria-hidden="true"></i>
        </div>
        <div class="details">
            <h5>{{goalYearWiseData.unaligned}}</h5>
            <p>Unligned</p>
        </div>

    </div>

    <div class="total-goals">
        <div class="icon">
            <i class="fa fa-bullseye" aria-hidden="true"></i>
        </div>
        <div class="details">
            <h5>{{goalYearWiseData.expired}}</h5>
            <p>Expired</p>
        </div>

    </div>
</div>