.goal-wrapper{
    display: flex;
    border-radius: 2px;
  border: solid 1px #c4dcf7;
  background-color: #ffffff;
}
.total-goals{
  
  display: flex;
  padding: 10px;
}
h5{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.94;
  margin-left: 5px;
}
p{
    font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
}
.details{
    border-right: 1px solid gray;
    padding-right: 150px;
}