
<div class="goal-plan-wrapper">
    <div class="header">
        <h4>My Goal Plan</h4>
    </div>
    <div class="para">
        <p>View By:</p>
    </div>

    <!-- <label for="sel1">Goal 2019:</label> -->
    <select id="sel1" (change)="filterDataByDate($event.target.value)">
        <option *ngFor="let data of goalData" value={{data.year}}>{{data.year}}</option>
    </select>
</div>
