.goal-plan-wrapper{
    display: flex;
    margin-top: 10px;
}

.header{
    font-family: Roboto;
    font-size: 28px;
    line-height: 1.07;
    color: #2c2c2c;
}

.para{
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.29;
    color: #979797;
    padding-top: 9px;
    margin-left: 11px;
}

select{
    border: none;
    outline: none;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.29;
    color: #2c2c2c;
    padding-bottom: 6px;
}